In [ ]:
import pandas as pd
import numpy as np

## 
First step:
Data Exploration
First, we'll load the Titanic dataset and briefly showcase it using pandas.

In [30]:
file_path = "Titanic-Dataset.csv"
df = pd.read_csv(file_path)

In [25]:
# create new column named "FamilySize" by combining SibSp and Parch
df["FamilySize"] = df["SibSp"] + df["Parch"]
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  NaN  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  NaN  38.0      1      0
2                             Heikkinen, Miss. Laina  NaN  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  NaN  35.0      1      0
4                           Allen, Mr. William Henry  NaN  35.0      0      0

             Ticket     Fare Cabin Embarked  FamilySize
0         A/5 21171   7.2500   NaN        S           1
1          PC 17599  71.2833   C85        C           1
2  STON/O2. 3101282   7.9250   NaN        S           0
3            113803  53.1000  C123        S           1
4            373450   8.0500   NaN        S           0

In [24]:
# show different columns and their data types
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          0 non-null      float64
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  FamilySize   891 non-null    int64
dtypes: float64(3), int64(6), object(4)
memory usage: 90.6+ KB
None

In [32]:
# integer encoding
df["Sex"] = df["Sex"].map({"male": 0, "female": 1})

# round all the numbers in Age column and then convert them to integer also handle null values
df["Age"] = df["Age"].round().fillna(df["Age"].mean()).astype(int)

print(df.head(10))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name  Sex  Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  NaN   22      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  NaN   38      1      0
2                             Heikkinen, Miss. Laina  NaN   26      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  NaN   35      1      0
4                           Allen, Mr. William Henry  NaN   35      0      0
5                                   Moran, Mr. James  NaN   29      0      0
6                            McCarthy, Mr. Timothy J  NaN   54      0      0
7                     Palsson, Master. Gosta Leonard  NaN    2      3      1
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  NaN   27      0      2
9                Nasser, Mrs. Nicholas (Adele Achem)  NaN   14      1      0

             Ticket     Fare Cabin Embarked
0         A/5 21171   7.2500   NaN        S
1          PC 17599  71.2833   C85        C
2  STON/O2. 3101282   7.9250   NaN        S
3            113803  53.1000  C123        S
4            373450   8.0500   NaN        S
5            330877   8.4583   NaN        Q
6             17463  51.8625   E46        S
7            349909  21.0750   NaN        S
8            347742  11.1333   NaN        S
9            237736  30.0708   NaN        C

In [22]:
# i want to save this dataframe (df) to a new excel file
df.to_excel("Min-nya-Excel-fil.xlsx")